{
  "extends": [
    "airbnb"
  ],
  "env": {
    "jest": true
  },
  "rules": {
    "import/no-unresolved": ["error", { ignore: ["^react$"] }],
    "max-len": 0,
    "no-param-reassign": 0,
    "no-underscore-dangle": 0,
    "react/destructuring-assignment": 0,
    "react/forbid-prop-types": 0,
    "react/jsx-filename-extension": 0,
    "react/no-access-state-in-setstate": 0,
    "react/require-default-props": 0,
    "react/sort-comp": 0
  }
}
